@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: bisque;
}

.cart {
  margin-top: 37px;
} 


